body{
    font-family: 'Montserrat', sans-serif;
}

#logo{
    display: flex;
    align-items: center;
    width: 20%;
    max-width: 20rem;
}

#logo img{
    width: clamp(5rem, 10vw, 10rem);
    height: auto;
    display: block;
}

#logo p{
    font-family: 'Lilita One', sans-serif;
    font-size: clamp(2rem, 2.5vw, 5rem);
    color: rgb(254, 204, 87);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menuHamburguer{
    display: flex;
    height: 10%;
    max-height: 2rem;
    width: 7%;
    max-width: 2rem;
    height: auto;
}

#menuHamburguer img{
    max-width: 100%;
    height: auto;
    display: block;
}

#menu ul{
    display: flex;
    gap: 10%;
}

#menu li{
    list-style: none;
}

#destaque img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10%;
}

#destaque h1{
    font-size: clamp(2rem, 2.5vw, 5rem);
}

#destaque p{
    font-size: clamp(1.5rem, 2vw, 4rem);
}

#areaCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(254, 204, 87);
    border-radius: 15px;
    width: 60%;
    max-width: 230rem;
    overflow: hidden;
}

.card img{
    max-width: 100%;
    height: auto;
    display: block;
}

.card h2{
    align-self: center;
}

#direitos{
    margin-top: 15%;
}

@media (max-width: 768px){
    #menu{
        display: none;
    }

    body{
        text-align: center;
    }
/*arrumar tamanhos para cada media*/
    #destaque p{
        margin-bottom: 5%;
    }
}

@media (min-width: 768px){
    #menuHamburguer{
        display: none;
    }

    #menu{
        width: 50%;
    }

    #destaque{
        display: flex;
        flex-direction: row;
    }

    #areaCards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px){
    #areaCards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}