*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

#logo{
    display: flex;
    align-items: center;
    width: 20%;
    max-width: 20rem;
}

#logo img{
    width: clamp(5rem, 10vw, 10rem);
    height: auto;
    display: block;
    margin-inline-start: 10%;
}

#logo p{
    font-family: 'Lilita One', sans-serif;
    font-size: clamp(2rem, 2.5vw, 5rem);
    color: rgb(254, 204, 87);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

#menuHamburguer{
    display: flex;
    height: 10%;
    max-height: 2rem;
    width: 7%;
    max-width: 2rem;
    height: auto;
    margin-right: 2.5%;
}

#menuHamburguer img{
    max-width: 100%;
    height: auto;
    display: block;
}

#menu{
    display: flex;
    justify-content: space-between;
    margin-inline-end: 5%;
}

#menu ul{
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

#menu li{
    list-style: none;
    margin: 0;
}

#menu a{
    text-decoration: none;
    margin: 0;
    color: black;
    padding: 5% 10%;
    font-size: clamp(1rem, 2.3vw, 1.7rem);
}

#menu a:hover{
    color: white;
    background-color: rgb(254, 204, 87);
    border: 1px solid;
    border-radius: 15px;
}

#destaque img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10%;
}

#destaque h1{
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    margin-top: 5%;
}

#destaque p{
    font-size: clamp(1rem, 2vw, 1.65rem);
    margin-top: 3%;
}

#livrosDestaque{
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    margin-bottom: 6%;
    justify-self: center;
}

#livrosDestaque::after{
    content: '';
    display: flex;
    justify-self: center;
    width: 100%;
    height: 2px;
    margin-top: 2%;
    background-color: rgb(254, 204, 87);
}

#areaCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem 0rem;
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(254, 204, 87);
    border-radius: 15px;
    width: 70%;
    max-width: 230rem;
    overflow: hidden;
}

.card img{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.card h2{
    font-size: clamp(1.5rem, 2.5vw, 2.3rem);
    align-self: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3%;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
}

.card h3{
    font-size: clamp(1.1rem, 2.1vw, 1.8rem);
    align-self: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.card h3::after{
    content: '';
    display: flex;
    justify-self: center;
    width: 100%;
    height: 2px;
    margin-top: 2%;
    background-color: rgb(254, 204, 87);
}

.card p{
    font-size: clamp(1rem, 2vw, 1.2rem);
    margin-top: 0;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    margin-bottom: 1.5rem;
    text-align: justify;
}

#footer{
    background-color: rgb(254, 204, 87);
    margin-bottom: 0;
    height: 5rem;
    margin-top: 10rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 1rem;
}

#footer p{
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    margin-inline-start: 10%;
    margin-inline-end: 10%;
}

@media (max-width: 768px){
    #menu{
        display: none;
    }

    body{
        text-align: center;
    }

    #destaque h1{
        margin-inline-start: 10%;
        margin-inline-end: 10%;
    }

    #destaque p{
        margin-bottom: 5%;
        margin-inline-start: 10%;
        margin-inline-end: 10%;
    }

    #destaque .textoComplementar{
        display: none;
    }
}

@media (min-width: 768px){
    #menuHamburguer{
        display: none;
    }

    #destaque{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        margin-top: 2%;
        margin-bottom: 10%;
    }

    #destaque img{
        width: 65%;
        flex-shrink: 0;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-bottom: 0;
    }

    #destaque .textoDestaque{
        display: flex;
        flex-direction: column;
        width: 35%;
        margin-inline-start: 3.5%;
        margin-inline-end: 3.5%;
        margin-top: 0;
        align-self: center;
    }

    #destaque .textoDestaque h1{
        margin-top: 0;
    }

    #destaque .textoDestaque p{
        margin-top: 6%;
        text-align: justify;
    }

    #areaCards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        justify-items: center;
        align-items: start;
    }
}

@media (min-width: 1024px){
    #areaCards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    #destaque{
        margin-bottom: 5%;
    }
    #destaque img{
        height: 70vh;
        width: 57vw;
        max-width: 100%;
        display: block;
    }

    .card img{
        height: 35vh;
    }

    .card h2{
        margin-bottom: 1.5rem;
    }
}